# Ansible managed

server {
    listen         80;
    listen    [::]:80;
    server_name    {{ project_url }};

    access_log     /var/log/{{ project_name }}/access.log;
    error_log      /var/log/{{ project_name }}/error.log;

    ## Deny illegal Host headers
    if ($host !~* ^({{ project_url }})$){
            return 444;
        }

    charset                 utf-8;
    client_max_body_size    100M;

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_pass http://unix:/run/{{ project_name }}_gunicorn.sock;
    }
}
