SECRET_KEY={{ secret_key }}

DEBUG={{ debug }}
ENV={{ env }}

DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASS={{ db_pass }}
DB_HOST={{ db_host }}
DB_PORT={{ db_port }}
DB_ATOMIC_REQUESTS={{ db_atomic_requests }}

PROJECT_NAME={{ project_name }}

FRONTEND_URL={{ frontend_url }}
BACKEND_URL={{ backend_url }}

DEFAULT_EMAIL_FROM={{ default_email_from }}