[Unit]
Description=gunicorn {{ project_name }} daemon
Requires={{ project_name }}_gunicorn.socket
After=network.target

[Service]
Environment=LANG=en_US.UTF-8
Environment=DJANGO_SETTINGS_MODULE={{ django_settings_module }}

WorkingDirectory={{ project_dir }}
ExecStart={{ venv_dir }}bin/gunicorn \
            --access-logfile - \
            --workers {{ workers }} \
            --bind unix:/run/{{ project_name }}_gunicorn.sock \
            conf.wsgi:application

[Install]
WantedBy=multi-user.target